@use '../util' as *;

.faq {
    margin-top: rem(60);
}

.faq__container {
    background: var(--grey);
}
.faq__answers{
    padding-bottom: rem(60);
}
.faq__list {
    padding: 0;
}

.faq__title {
    margin: 0;
    padding: rem(100) 0 0 rem(24);
    font-size: rem(54);
}

.faq__collapsible {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: rem(16);
}
.faq__collapsible svg{
    stroke: var(--black);
}

.faq__active,
.faq__collapsible:hover {
    background-color: var(--black);
    color: var(--white);
}
.faq__collapsible:hover > svg{
    stroke: var(--white);
}
.faq__active svg{
    transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
}

@-webkit-keyframes faq__active {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes faq__active {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes faq__active {
    0% {
        opacity: 0;
        -o-transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes faq__active {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq__active {
    -webkit-animation: fadeInDown 1s both 0.5s;
    -moz-animation: fadeInDown 1s both 0.5s;
    -o-animation: fadeInDown 1s both 0.5s;
    animation: fadeInDown 1s both 0.5s;
}

.faq__content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid var(--black);
}

.faq__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.faq__content ul{
    padding-top: rem(12);
    padding-left: rem(18);
    list-style: disc;
}
.faq__content li {
    padding-bottom: rem(12);
}
.faq__wrapper{
    margin: rem(24);
}
@media screen and (max-width: 768px){
    .faq__list {
        grid-template-columns: repeat(1, 1fr);
    }
}