@use '../util' as *;

.main__wrapper{
    width: 100%;
}
.main__page{
    margin-left: rem(300);
}

@media screen and (max-width: 1024px){
    .main__page{
        margin-left: 0;
    }
}

html {
    scroll-behavior: smooth;
}